
body {
    font-family: Menlo, monospace;
    font-size: 14px;
    color: #333
}

a {
  color: #00AEE6;
}

#container {
    width: 800px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 30px auto;
}

#logo-container span a{

}

h1 {
    margin: 45px 0px 5px 0px;
    font-size: 32px;
}

h2 {
    margin: 0px 0px 20px 0px;
    color: #bbb;
    font-size: 15px;
    text-align: right;
}

#container p span, h1 span {
    color: #333 !important
}

img {
    margin: 0 auto;
    max-width: 800px;
}